* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #ab66ff 0%, #74b6f7 90%);
}

.main .container {
  width: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
  margin: 0 auto;
  row-gap: 2.5rem;
}

.main .container .input__container {
  width: 100%;
}

.main .container .input__container textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  resize: none;
  border: 2px solid #000;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main .container .keyboard__container .keyboard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  background-image: linear-gradient(109.9deg, #fbbd64 1.8%, #ffcf8b 95.4%);
  border: 2px solid #000;
  border-radius: 0.25rem;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  row-gap: 0.8rem;
}

.main .container .keyboard__container .keyboard .key__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

.main .container .keyboard__container .keyboard .key__row .key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  padding: 1rem 1.5rem;
  border: 2px solid #212B36;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 0px 2px #000000;
          box-shadow: 0px 4px 0px 2px #000000;
  font-size: 1rem;
  font-weight: bold;
}

.main .container .keyboard__container .keyboard .key__row .key:hover {
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  color: #6f00ff;
  text-shadow: #6f00ff;
}

.main .container .keyboard__container .keyboard .key__row .key-hovered {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  color: #6f00ff;
  text-shadow: #6f00ff;
}

.main .container .keyboard__container .keyboard .key__row .key-pressed {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  -webkit-filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0));
          filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0));
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main .container .keyboard__container .keyboard .key__row .key-backspace {
  padding: 1rem 3.25rem;
}

.main .container .keyboard__container .keyboard .key__row .key-tab {
  padding: 1rem 2.25rem;
}

.main .container .keyboard__container .keyboard .key__row .key-enter {
  padding: 1rem 5rem;
}

.main .container .keyboard__container .keyboard .key__row .key-shift {
  padding: 1rem 3.75rem;
}

.main .container .keyboard__container .keyboard .key__row .key-space {
  padding: 1rem 10.9rem;
}

.main .container .description__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  gap: 10px;
}

.main .container .description__container .description__system {
  margin: 0;
}

.main .container .description__container .description__combination {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */